.containerPrincipal{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
    min-height: 100vh;
}
.containerTitle{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #2F2E2E;

}
.containerTitle h1 {
    color: #E95708;
    font-style: italic;
    font-size: 50px;
    
}
.containerFilter{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 20px;
}
.containerFilter button{
    background-color: #E95708;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    min-width: 80px;
    border: 1px solid #E95708;
}
.containerFilter button:hover{
    cursor: pointer;
    background-color: white;
    color: #E95708;
    
    transition: 0.3s ease;
}
.products{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.products h1{
    width: 100%;
    padding: 30px;
    color: #E95708;
    font-weight: bold;
}
.products p{
    width: 100%;
    padding: 30px;
    color: white;
    font-size: 20px;
    
}
.productList{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    width: 100%;
    padding: 20px;
}

@media (max-width : 800px) {
    .containerTitle h1 {
        font-size: 30px;
    }
    .containerFilter {
        justify-content: center;
        padding: 10px;
    }

    .containerFilter button {
        width: 100%;
        font-size: 16px;
    }
}