.containerPrincipal{
    display: flex;
    flex-direction: column;
    background-color: #585858;
    color: white;
    height: 100%;
}
.containerAdmin{
    display: flex;
    justify-content: center;
}

@media (min-height : 100px){
    
}