.containerPrincipal{
    display: flex;
    flex-direction: column;
    background-color: #585858;
    color: white;
    height: 100%;
}
.containerAdmin{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding: 10px;
    width: 100%;
}