.containerPrincipal{
    background-color: #585858;
    width: 100%;
    min-height: 100vh;
    
}
.containerPrincipal h1 {
    color: #E95708;
    padding: 20px;
    font-size: 50px;
}
.containerFilter{
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 20px;
}
.containerFilter button{
    background-color: #E95708;
    color: white;
    padding: 10px;
    border: 2px solid #E95708;
    font-size: 15px;
    min-width: 80px;
    border: 2px solid #E95708;
}
.containerFilter button:hover{
    cursor: pointer;
    background-color: white;
    color: #E95708;
    transition: 0.3s ease;
    border: 2px solid #E95708;
}
.image{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.image img {
    width: 100%;
}
.image p{
    color: white;
    font-size: 50px;
    position: relative;
    z-index: 2;
    bottom: 110px;
    display: flex;
    justify-content: end;
    width: 90%;
    font-weight: bold;
}
.image p:hover{
    cursor: pointer;
}
.containerCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}




/* Carrusel */
.carrusel{
    width: 100%;
    max-height: 500px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.carrusel img{
    width: 500px;
    height: 400px;
    animation: deslizarDerecha 0.5s ease-in-out forwards;
}
.buttonCarrusel{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.selectedButton{
    cursor: pointer;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    background-color: rgb(246, 246, 246);
    border: none;
}
.notSelectedBUtton{
    cursor: pointer;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    background-color: rgb(169, 170, 172);border: none;
}
.notSelectedBUtton button:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
}

@keyframes deslizarDerecha {
    0% {
        transform: translateX(20%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 800px) {
    .containerPrincipal{
        width: 100%;
        min-height: 100%;
    }
    .containerPrincipal h1 {
        font-size: 30px;
    }
    .containerFilter button{
        font-size: 15px;
        height: 40px;
        padding: 5px;
        
    }
    .image p{
        font-size: 15px;
        bottom: 30px;
    }
    .image img{
        width: 100%;
    }

    .carrusel img{
        width: 60%;
        height: 60%;
    }
    .containerCard{
        display: flex;
        flex-direction: column;
    }
}