.containerPrincipal{
    width: 100%;
    background-color: #444444;
    padding: 10px;
}
.containerPrincipal h1{
    color: #E95708;
    font-size: 50px;
    width: 60%;
    cursor: pointer;
    
}
.menu{
    display: none;
}
.containerItems{
    display: flex;
    width: 100%;
    color: white;
}
.containerNav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding: 10px;
}
.containerNav p {
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
}
.containerNav p:hover{
    background-color: #626161;
    /* display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease; */
}
.searchAndProfile{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: 10px;
    gap: 20px;
    
}
.searchAndProfile input{
    padding: 5px;
    width: 40%;
    border: none;
    outline: none;
}
.searchAndProfile span{
    cursor: pointer;
}

/* Menu responsivo */
.containerMenu{
    position: fixed;
    z-index: 4;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 100%;
    height: 100%;
    color: black;
    background-color: rgba(0, 0, 0, 0.462);
}
.containerSelection {
    background-color: white;     
    color: black;   
}
.containerSelection p{
    padding: 10px;
    cursor: pointer;
}
.containerSelection p:hover{
    background-color:#E95708;
    color: white;
}
.containerSearchMenu{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
}
.containerSearchMenu input{
    width: 100%;
    padding: 10px;
    border: none;
}
.containerSearchMenu span{
    cursor: pointer;
}
.containerButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.containerButton button{
    padding: 5px;
        font-size: 15px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

@media (max-width : 800px) {
    .containerPrincipal {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 10px;
    }
    header{
        width: 100%;
    }
    .containerItems{
        width: 100%;
    }
    .containerItems h1{
        font-size: 30px;
        display: flex;
        
        align-items: center;
        width: 100%;
    }
    .menu{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
        padding: 5px;
    }
    .menu span{
        cursor: pointer;
    }
    .menu input{
        overlay: none;
    }
    .containerNav{
        display: none;   
    }
    .searchAndProfile{
        display: none;
    }
}
