.containerPrincipal{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
    min-height: 100vh;
    min-width: 600px;
}
.containerTitle{
    display: flex;
    align-items: center;
    min-width: 100%;
    padding: 20px;
    background-color: #2F2E2E;

}
.containerTitle h1 {
    color: #E95708;
    font-style: italic;
    font-size: 50px;
    
}
.containerFilter{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 20px;
}
.containerFilter button{
    background-color: #E95708;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    min-width: 80px;
    border: 1px solid #E95708;
}
.containerFilter button:hover{
    cursor: pointer;
    background-color: white;
    color: #E95708;
    
    transition: 0.3s ease;
}
.branches{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}
.containerBranch{
    display: flex;
    flex-direction: column;    
    gap: 15px;
    background-color: #2F2E2E;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}
.containerBranch h2{
    color: #E95708;
    font-size: 40px;
}
.containerBranch button {
    background-color: #E95708;
    color: white;
    padding: 10px;
    border : none;
    min-width: 300px;
    border-radius: 10px;
    font-size: 15px;
}
.containerBranch button:hover {
    transform: scale(1.08);
    transition: 0.3s ease;
    cursor: pointer;
    min-width: 300px;
    
}

@media (max-width: 768px) {
    .containerPrincipal {
        min-width: 100%; 
        
    }

    .containerTitle {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .containerTitle h1 {
        font-size: 32px;
        text-align: left;
    }

    .containerFilter {
        justify-content: center;
        padding: 10px;
    }

    .containerFilter button {
        width: 100%;
        font-size: 16px;
    }

    .branches {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .containerBranch {
        width: 100%;
        padding: 15px;
    }

    .containerBranch h2 {
        font-size: 28px;
    }

    .containerBranch button {
        width: 100%;
        font-size: 14px;
    }
    .containerBranch button:hover {
        transform: scale(1.03);
        transition: 0.3s ease;
        cursor: pointer;
        
    
}
}