.containerPrincipal {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 550px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 7px gray;
    border-radius: 10px;
    padding: 10px;
    
}

.containerPrincipal h1{
    padding: 10px;
}
.containerData{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding: 10px;
}
.containerPrincipal input{
    width: 100%;
    border: 1px solid gray;
    padding: 10px;
}
.containerButtons {
    display: flex;
    justify-content:space-between;
    padding: 10px;
}
.containerButtons button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E95708;
    border: 2px solid #E95708;
    color: white;
    padding: 10px;
    font-size: 15px;
    width: 80px;
}
.containerButtons button:hover {
    cursor: pointer;
    background-color: white;
    color: #E95708;
    transition: 0.3s ease;
}
